.profile__pic-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: ease .5s;
    background-image: url(../../../images/icons/edit-symbol.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}