.profile__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  width: 293px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 665px) {
  .profile__subtitle {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 382px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}