.card__content {
  background-color: #fff;
  max-width: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 21px 24px 21px;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
}